<html>
  <head>
    <title>Coffee Run</title>
    <style>
      article.shop {
        display: flex;
        height: 400px;
        width: 300px;
      }
    </style>
  </head>
  <body>
    <%- include('_header') %>
    <main>
      <section id="shops">
        <% for (const shopId in shops) { %>
          <% const shop = shops[shopId] %>
          <a href="/shops/<%= shop.id %>">
            <article class="shop">
              <img src="<%= shop.photo %>" alt="<%= shop.name %> photo" srcset="">
              <div class="detes-wrapper">
                <h2><%= shop.name %></h2>
                <em><%= shop.rating * 5 %> / 5</em>
                <span><%= shop.location %></span>
              </div>
            </article>
          </a>
        <% } %>
      </section>
    </main>
  </body>
</html>